body {
    margin: 0;
    padding: 0;
    font-family: Rubik
}

.banner {
    position: relative;
    background-image: url('./images/pattern-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    text-align: center;
    z-index: 2;
}

.title {
   color: white;
   font-size: 22px;
   font-weight: 500;
   padding: 20px 20px 30px;
}



.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    border-radius: 13px;
    box-shadow: 2px 2px 15px 5px rgb(62 60 98 / 8%);
    /*transform:translateY(50%);*/
    width: 80%;
    margin: auto;
    text-align: center;
    width: 90%;
    z-index: 2;
    padding: 20px 5px 0;
}

.name {
    font-size: 12px;
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    margin-bottom: 7px;
}

#mapid { 
    height: 60vh; 
    z-index: 1;
}



.searchbar {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: auto;
}

.searchbar-input {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: center;
    margin: 0 auto 25px;
    border-radius: 13px 0 0 13px;
    border: none;
    outline: none;
    padding: 20px 10px;
    font-size: 14px;
    max-height: 54px;
    color: hsl(0, 0%, 59%)
}


button {
    background: url("./images/icon-arrow.svg");
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    height: 54px;
    width: 60px;
    margin-left: -5px;
    padding: 5px;
    flex-grow: 1;
    border-radius: 0 13px 13px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 17%);
}

.cell {
    margin-bottom: 20px;
}

.ip, .location, .timezone, .isp {
    font-weight: 500;
}

/****************  

loading animation CSS   

*****************/

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: -20px 0;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: hsl(0, 0%, 17%);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }


  @media (min-width: 675px) {

    .card {
        flex-direction: row;
        text-align: left;
        padding: 25px 0;
        max-width: 1000px;
        justify-content: space-evenly;
    }

    .cell {
        width: 25%;
        padding: 0 25px;
        margin: 0;
    }

    .searchbar {
        max-width: 470px;
        margin-bottom: 20px;
    }

    .border-line {
        border-right: 1px solid hsl(0, 0%, 59%);
    }
  }